:root {
  --bleu-fonce : #10158D;
  --bleu-clair : #14D4F4;
  --bleu :       #2594F7;
  --violet :     #812DF3;
  --vert-deau:   #20DDCF;
  --rose:        #DD33FE;
  --noir:        #000000;
  --blanc:       #FFFFFF;
  --gris:        #F3F3F3;


  /* Tailles de police de caractère */
  --h1: 3.125rem;
  --h2: 1.25rem;
  --h3: 1rem;
  --menu: 1.25rem;
  --body: 0.875rem;
  --small-text: 0.75rem;
  --chapo: 0.875rem;
  --footer: 0.875rem;

  /* Polices de caractère */
  --font-oxanium: 'Oxanium', serif;
  --font-alegreya: 'Alegreya', serif;

  /*Line height*/
  --line-height110: 110%;
  --line-height150: 150%;

  /* Espaces */
  --space1x: 8px;
  --space2x: 16px;
  --space3x: 24px;
  --space4x: 35px;
  --space5x: 50px;
  --space6x: 75px;
  --space7x: 95px;
  --space8x: 81px;
}