.footer {
    background-color: var(--bleu-fonce);
    color: var(--blanc);
    padding: var(--space4x) var(--space4x);
    a {
      color: var(--blanc);
      text-decoration: none;
    }
}

.footer__menu{
    font-size: var(--h3);
}
  
.footer__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}
  
.footer > *:not(:first-child) {
    margin-top: var(--space3x);
}

.footer__contact-info{
    font-size: var(--h3);
    color: var(--blanc);
    text-decoration: none;
}