.button {
    background-color: #3399FF; /* Couleur de fond bleue */
    border: 2px solid white; /* Bordure blanche */
    color: white; /* Texte blanc */
    padding: 15px 32px; /* Espacement interne du bouton */
    text-align: center; /* Texte centré */
    text-decoration: none; /* Pas de soulignement */
    display: inline-block; /* Affichage en ligne */
    font-size: 16px; /* Taille de la police */
    border-radius: 10px; /* Coins arrondis */
    cursor: pointer; /* Curseur en forme de main au survol */
}

.button:hover {
    background-color: #007BFF; /* Bleu plus foncé au survol */
}
