.chapo {
    padding-top: var(--space4x);
    padding-bottom: var(--space4x);
    font-weight: bold;
    font-family: var(--font-alegreya);
    font-size: var(--chapo);
}

.chapo__list {
    display: flex;
    justify-content: space-between;
}

.chapo__link {
    display: flex;
    flex-direction: column;
    color: var(--black);
    text-decoration: none;
    padding: 0 var(--space3x);
}