.hero__header {
    height: 80vh;
    display: flex;
    justify-content: end;
    flex-direction: column;
    padding-bottom: var(--space5x);
    position: relative;
    overflow: hidden;
    text-align: center;
    padding-right: var(--space2x);
}

.hero__img {
    position: absolute;
    inset: 0;
    z-index: -1;
}

.hero__title {
    color: var(--blanc);
    width: 387px;
}